@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko:300,400&display=swap');

a {
    color: #ffffff;
}

p {
    margin: 0;
}

section {
    padding: 60px 0;
}

/* header */
header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(76, 25, 25, 95), rgba(176, 42, 42, 95)), url("images/header-bg.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}

header > .container {
    position: relative;
    height: 100%;
    padding: 0;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    max-width: 100px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 650ms;
}

.navbar-brand:hover {
    opacity: 0.8;
}

.hamburger-menu {
    position: fixed;
    top: 25px;
    right: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    background-color: #101D2C;
    border-radius: 4px;
    cursor: pointer;
    z-index: 999;
}

.hamburger-menu i {
    font-size: 30px;
    color: rgba(198, 153, 88, 0.7);
    margin: auto;
}

.hamburger-menu .fa-times {
    display: none;
}

.hamburger-menu .fa-times.open {
    display: block;
}

.hamburger-menu .fa-bars.open {
    display: none;
}

.nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    list-style: none;
    background-color: #101D2C;
    z-index: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: scale(0);
    transition: opacity 650ms;
}

.nav-list .open {
    opacity: 1;
    transform: scale(1);
}

.hero-text {
    position: absolute;
    top: 45%;
    left: 50%;
    height: 550px;
    transform: translate(-50%, -45%);
    text-align: center;
    background-image: url('images/Banner1.png');
}

.hero-text-wrap
{
    padding-top: 170px;
}

.hero-text h1 {
    font-family: 'Roboto';
    color: red;
}


.btn {
    width: 100px;
    padding: 5px 0 !important;
    border: 1px solid red;
    position: relative;
    overflow: hidden;
}

.btn-intro {
    color: white !important;
}

.btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, .3), transparent);
    transition: all 650ms;
}

.btn:hover::before {
    left: 100%;
}

/* about */
.section-heading h4 {
    text-transform: uppercase;
    color: #101D2C;
    line-height: 0;
    font-family: 'Miriam Libre';
    font-weight: 300;
    letter-spacing: 1px;
}

.section-heading h1 {
    font-family: 'Roboto';
    color: darkred;
}

.section-heading p {
    font-family: 'Miriam Libre';
    color: white;
}

.about .btn {
    width: 150px;
    color: red !important;
    transition: background-color 650ms;
}

.about .btn:hover {
    color: #ffffff !important;
    background-color: darkred;
}

/*Meni*/
.menu {
    background-color: #101D2C !important;
}

.shop-info i {
    color: #c69963;
    font-size: 50px;
}

.shop-info h1 {
    font-family: 'Miriam Libre';
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
}

.shop-info p,
.shop-info address {
    color: rgba(255, 255, 255, 0.5);
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.point-left,
.point-right {
    position: relative;
    background-color: #ffffff;
    display: flex;
}

.point-right::before,
.point-left::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: inherit;
    top: -12px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    z-index: 1;
}

.menu-item-desc {
    padding: 50px 10px;
    color: #212529;
    margin: auto;
}

.menu-item-desc h6 {
    color: darkred;
    font-size: 20px;
}

.menu-item-desc h1 {
    color: #101D2C;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: 'Miriam Libre';
    font-weight: 300;
}

@media (min-width: 576px) {
    .navbar-brand {
        max-width: 150px;
    }

    .hamburger-menu {
        top: 35px;
        right: 25px;
    }

    .point-left::before,
    .point-right::before {
        display: none;
    }

    .menu-item-desc {
        padding: 50px 20px;
    }
}

@media (min-width: 768px) {
    .btn {
        width: 150px;
    }
}

@media (min-width: 992px) {
    header > .container {
        padding: 0 15px;
    }

    .hamburger-menu {
        display: none;
    }

    .navbar-brand {
        position: initial;
        transform: initial;
    }

    .nav-list {
        position: initial;
        width: initial;
        height: initial;
        background-color: initial;
        flex-direction: row;
        opacity: initial;
        transform: initial;
        transition: initial;
        margin: 0;
        padding: 0;
    }

    .nav-item {
        margin: 0 30px;
    }

    .nav-item:last-child {
        margin-right: 0;
    }

    .nav-link {
        position: relative;
        padding: 0;
    }

    .nav-link:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        background-color: red;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 650ms;
    }

    .nav-link:hover::before {
        transform: scaleX(1);
    }
}
.display-osnove {
    font-family: 'Miriam Libre';
    color: darkred;
    text-align: center;
}
.card-body h1 {
    font-size: 25px;
    letter-spacing: 1px;
    font-family: 'Miriam Libre';
    font-weight: 300;
}

.card-body h6 {
    font-size: 16px;
    color: red;
}

footer {
    background-color: #101D2C;
    color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 1200px) {
    .point-left::before,
    .point-right::before {
        display: block;
        top: 50%;
        left: initial;
        transform: translate(0, -50%) rotate(45deg);
    }

    .point-left::before {
        left: -12px;
    }

    .point-right::before {
        right: -12px;
    }

    .menu-item-desc p {
        display: none;
    }

    .menu-item-desc .btn {
        color: #ffffff !important;
        background-color: red;
    }
}